.item {
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  min-width: 150px;
  padding: 5px 10px;
  width: 100%;
}

.item:hover {
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
}

.item-selected {
  background-color: var(--color-3);
  color: var(--rich-black);
}

.item-selected:hover {
  background-color: var(--color-4);
  color: var(--rich-black);
}

.item-disabled {
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  .item, .item-selected {
    background-color: #ddd;
    color: #213547;
  }
}