.selected-item {
  background-color: var(--color-4);
  color: var(--color-1);
  display: flex;
  justify-content: space-between;
  margin: 4px;
  min-width: 150px;
  padding: 5px;
}

@media (prefers-color-scheme: light) {
  .selected-item {
    background-color: #ddd;
    color: #213547;
  }
}