.select-items-header {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  height: fit-content;
  justify-content: space-between;
  /* min-height: 100px; */
  padding: 10px;
  padding-top: 30px;
  position: relative;
}

.search {
  margin-left: 8px;
  width: 150px;
}

.filter {
  margin-left: 8px;
}

.x-icon {
  fill: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
}