  #select-modal-content {
    background-color: #222;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    max-width: 400px;
    width: 100%;
  }

  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }

  .footer-selection {
    padding: 5px;
  }

  .footer-buttons {
    background-color: var(--rich-black);
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px;
  }

  .list {
    overflow-y: scroll;
  }