.select-items-header {
    align-items: center;
    background-color: var(--rich-black);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 100px;
    padding: 10px;

    /* >div {
    border: #222;
  } */
}

.search {
    margin-left: 8px;
    width: 150px;
}

.filter {
    margin-left: 8px;
}