.dialog {
  background-color: transparent;
  border: none;
  margin: auto auto;
  max-width: 500px;
  padding: 20px;
  width: 100vw;
}

dialog::backdrop {
  background-color: #4564;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.select-modal-content {
  background-color: var(--bg);
  border: var(--color-2) 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-height: 750px;
  padding: 15px;
  width: 100%;
}


.list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: #888 2px solid;
  padding: 5px;
}