  #select-modal-content {
    background-color: #222;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    max-width: 400px;
    width: 100%;
  }

  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }

  .list {
    overflow-y: scroll;
  }